<div class="center jumbotron">
</div>
<div id="login_buttons">
    
    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg btn-xlarge signup_button" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>