<div class="center jumbotron">
</div>
<div id="login_buttons">
    <%= link_to "Sign up now", '/', class: "btn btn-primary btn-lg btn-xlarge signup_button" %>
    <%= link_to "Login", '/', class: "btn btn-primary btn-lg btn-xlarge" %>
</div>