<div style="text-align:center">
  <h3>Your Personal Audio Podcasts. <i>Anywhere</i></h3>
</div>
<div class="signup-container">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-6" for="firstname">First Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="firstname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="lastname">Last Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="lastname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="username">Username:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="email">Email:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="password">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="firstname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6" for="repassword">Re-enter Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="repassword">
      </div>
    </div>
    
    <div class="create_button">
      <button type="submit" class="btn btn-default">Create Account</button>
    </div>
  </form>
</div>