@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#logo {
    text-align: center;
}

#logo h1 {
    display: inline-block;
    padding-right: 5px;
}

#logo img {
    vertical-align: baseline;
    padding-top:10px;
}

#login_buttons {
    text-align: center;
    margin-bottom: 10px;
}

.signup_button {
    margin-right: 50px;
}

.jumbotron {
  background-image: asset-url('coverphoto.jpg');
  background-size: cover;
  height: 550px;
}

.signup-container {
    width: 400px;
    background-color: #7CD39D;
    margin: auto;
    padding: 10px;
}

.create_button {
    margin: auto;
    width: 100px;
    padding-bottom: 10px;
}

.login-container {
    width: 500px;
    padding: 10px;
    margin-top: 50px;
    margin: auto;
    background-color: #7CD39D;
}
a {
    color: black;
}
a:hover {
    color: #299E55;
    text-decoration: none;
}

.btn {
    background-color: #F4B350;
    border: 0 none;
    border-radius: 24px;
}

.btn:hover {
    background-color: #166831;
}

.btn:active:focus {
    background-color: #166831;
}

.submit-btn {
    background-color: #ECECEC;
    border: 0 none;
    border-radius: 24px;
}