<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= sound_byte.mpeg_file_name %></h4>
    
      <%= puts sound_byte.mpeg.hash_key %>
      <audio controls>
        <source src='/system/<%= sound_byte.mpeg.hash_key %>.mp3' type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    
  </div>
</div>