<div class="media">
  <div class="media-left">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= 
    sound_byte.mpeg_file_name %></h4>
    
      <!-- Audio Player -->
      <audio controls>
        <source src='/system/<%= sound_byte.mpeg.hash_key %>.mp3' type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      
      <% if current_user.id.to_i == sound_byte.user_id.to_i %> 
        <%= link_to "Delete", sound_byte_path(sound_byte), class: "btn btn-primary btn-lg btn-xlarge", :method => :delete, data: {confirm: "Are you sure?"} %>
      <% end %> 
    
      <!--New line for the display: inline; -->
      <br> 
      <h5 style="display: inline;" class="media-heading">Tag: <h4 style="display: inline;"><%= sound_byte.tag %></h4></h5>
    
  </div>
</div>